.skills-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    max-height: 100%;
    white-space: nowrap;

    h1 {
      font-size: 53px;
      font-family: "Coolvetica";
      color: #8493ce;
      font-weight: 400;
      margin-top: 25rem;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: "<h1>";
        font-family: "La Belle Aurore";
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: "<h1/>";
        font-family: "La Belle Aurore";
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    .project-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 5rem;
      .project-cards{
        margin-top: 0!important;
      }
      .card {
        width: 100%;
        margin-top: 2rem;
        height: 15rem;
        font-size: 4rem;
        background: #8493ce86;
        color: #fff;
        font-family: "Coolvetica";

        .project-des{
          font-size: 5px;
        }

      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }

  .bottom-tags{
    margin-top: 1rem;
  }
}

.modal-footer{
  justify-content: center;
}

.modal-btn{
  border-radius: 0;
  width: 100%;
  font-size: 2rem;
}
